html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  --color-black: hsla(0, 0%, 0%, 1);
  --color-blue: hsl(219, 36%, 82%);
  --margin-size: 25px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

a {
  color: var(--color-black);
  text-transform: uppercase;
  text-decoration: none;
}

header, p {
  text-align: center;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
}

h2 {
  font-size: 0.8rem;
}

p {
  font-size: 0.7rem;
}

input {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  height: 40px;
}

label {
  font-size: 1.5rem;
  display: block;
  text-align: center;
}

button {
  background-color: var(--color-blue);
  border-radius: 2px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  padding: 10px;
}

header {
  margin: var(--margin-size) 0;
}

nav {
  margin: var(--margin-size) auto;
  width: fit-content;
}

footer {
  flex-shrink: 0;
  margin-top: var(--margin-size);
}

footer p {
  margin-bottom: var(--margin-size);
  font-size: 1rem;
}

.page-wrapper {
  flex: 1 0 auto;
}

.header__nav__link-container {
  border-bottom: 2px solid var(--color-black);
  width: fit-content;
}

.header__nav__link--padding-left {
  padding-left: var(--margin-size);
}

.search-field-section__input-field {
  width: fit-content;
  margin: var(--margin-size) auto;
  margin-top: 0;
}

.main {
  display: flex;
  flex-wrap: wrap;
  gap: var(--margin-size);
  justify-content: center;
  margin: var(--margin-size) auto;
  width: 85%;
}

.main__api-content-container {
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 40%;
}

.main__api-content-container__paragraph {
  display: inline-block;
}

.loader {
  animation: spin 2s linear infinite;
  border: 10px solid #f3f3f3;
  border-top: 10px solid var(--color-black);
  border-radius: 50%;
  box-sizing: content-box;
  height: 20px;
  margin: 50px auto;
  width: 20px;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}